@import "./modal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100vh;
  @apply bg-gray-500;
}

.card-collection {
  @apply grid grid-cols-5 gap-4;
}

.card {
  @apply bg-gray-100 flex flex-col justify-between min-h-3 items-center rounded-sm justify-center max-h-96;
}

.card > img {
  object-fit: cover;
  min-height: 70%;
  @apply w-full;
}

.card > .card-header {
  /* @apply bg-gray-100; */
}

.card > .card-body {
  @apply bg-gray-100 overflow-hidden overflow-ellipsis;
}
